$shadow-color-blue-green: #009971;

.menu-link {
  cursor: pointer;
}

.menu-link hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.context-menu {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.007);
  color: white;
}

.button,
.button:after {
  font-size: 12px;
  background-color: rgba($color: $shadow-color-blue-green, $alpha: 0.01);
  box-shadow: inset 0px 0px 2px 2px $shadow-color-blue-green;
  animation: gradient-green-blue 5s infinite ease;

  border: 1px;
  color: #fff;
  letter-spacing: 2px;
  outline: transparent;
  position: relative;
  touch-action: manipulation;
}

.button:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(40% -0px 0% 0);
  --slice-2: inset(30% -0px 30% 0);
  --slice-3: inset(50% -0px 85% 0);
  --slice-4: inset(40% -0px 43% 0);
  --slice-5: inset(80% -0px 5% 0);

  content: 'actions format';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, $shadow-color-blue-green 5%);
  text-shadow: -3px -3px 0px #ffffff, 3px 3px 0px #17b372;
  clip-path: var(--slice-0);
}

.button:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(0px, 0px);
  }

  10% {
    clip-path: var(--slice-3);
    transform: translate(0px, 0px);
  }

  20% {
    clip-path: var(--slice-1);
    transform: translate(0px, 0px);
  }

  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 1px);
  }

  40% {
    clip-path: var(--slice-2);
    transform: translate(0px, 1px);
  }

  50% {
    clip-path: var(--slice-3);
    transform: translate(0px, 1px);
  }

  60% {
    clip-path: var(--slice-4);
    transform: translate(0px, 0px);
  }

  70% {
    clip-path: var(--slice-2);
    transform: translate(0px, 0px);
  }

  80% {
    clip-path: var(--slice-5);
    transform: translate(0px, 0px);
  }

  90% {
    clip-path: var(--slice-1);
    transform: translate(0px, 0px);
  }

  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {

  .button,
  .button:after {
    width: 100px;
    height: 35px;

  }
}













/* CSS */
