<app-landing-page-layout [color]="'BLUE-GREEN'">
  <h1 class="header">GAME INFORMATION</h1>
  <div class="form-container">
    <article>
      <h2>About</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste hic nemo
        veritatis est et neque at qui, deleniti dolores ab quod reprehenderit
        sequi consequatur sint? Provident a rerum unde omnis!
      </p>
    </article>

    <article>
      <h2>News</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis ullam
        modi accusamus perspiciatis beatae distinctio harum id. Unde, rem
        debitis blanditiis accusantium error quod dolores natus, odit magni
        repellendus obcaecati.
      </p>
    </article>

    <article>
      <h2>News</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis ullam
        modi accusamus perspiciatis beatae distinctio harum id. Unde, rem
        debitis blanditiis accusantium error quod dolores natus, odit magni
        repellendus obcaecati.
      </p>
    </article>

    <article>
      <h2>News</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis ullam
        modi accusamus perspiciatis beatae distinctio harum id. Unde, rem
        debitis blanditiis accusantium error quod dolores natus, odit magni
        repellendus obcaecati.
      </p>
    </article>

    <article>
      <h2>News</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis ullam
        modi accusamus perspiciatis beatae distinctio harum id. Unde, rem
        debitis blanditiis accusantium error quod dolores natus, odit magni
        repellendus obcaecati.
      </p>
    </article>

    <article>
      <h2>News</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis ullam
        modi accusamus perspiciatis beatae distinctio harum id. Unde, rem
        debitis blanditiis accusantium error quod dolores natus, odit magni
        repellendus obcaecati.
      </p>
    </article>

    <article>
      <h2>News</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis ullam
        modi accusamus perspiciatis beatae distinctio harum id. Unde, rem
        debitis blanditiis accusantium error quod dolores natus, odit magni
        repellendus obcaecati.
      </p>
    </article>
  </div>
</app-landing-page-layout>
