$shadow-color-blue-green: #009971;

.dashboard {
  --scrollbarBG: #252525;
  --thumbBG: #009971;
}

.dashboard::-webkit-scrollbar {
  width: 11px;
}

.dashboard {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

.dashboard::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

.dashboard::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

.dashboard {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 30px 1fr;
  grid-template-areas:
    "top-menu"
    "content";
  height: calc(100vh);
  margin: 0;

  background-image: url('./../../../../../assets/images/universe-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;

  .top-menu {
    grid-area: top-menu;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: #0d0a1d;
    box-shadow: 0px 0px 10px 0px $shadow-color-blue-green;
    height: 30px;
    padding: 0 15px;
  }

  .content {
    grid-area: content;
  }
}
