<!-- <div class="buildings">
  <div class="container"> -->
    <!-- uzyc *ngfor tak aby zrobić appstructure w pętli, przekazać do kolejnego appstructure dane z danego budynku(bazując na todolist)-->
    <!-- <app-structure
      *ngFor="let structureDetails of structures"
      (selectEmitter)="selectDetails($event)"
      [structureDetails]="structureDetails"
    >
    </app-structure>
  </div>
  <aside class="details">
    <app-structure-details [structureDetails]="currentDetails">
    </app-structure-details>
  </aside>
</div> -->

<app-market-container>
  <app-structure
    market-grid
    *ngFor="let structureDetails of structures"
    (selectEmitter)="selectDetails($event)"
    [structureDetails]="structureDetails"
  >
  </app-structure>
  <app-structure-details details-view [structureDetails]="currentDetails">
  </app-structure-details>
</app-market-container>
