<p style="color: lightblue" *ngIf="resources$ | async as resource">
  deuterium: {{ resource.deuterium }} | metal: {{ resource.metal }} | crystal:
  {{ resource.crystal }} | energy: {{ resource.energy }}
</p>
<app-market-container>
  <app-structure-details
    details-view
    [buildingDetails]="currentBuilding$ | async"
  >
    <app-market-element-details
      *ngIf="currentBuilding$ | async as currentBuilding"
    >
      <div class="info">
        <div class="details">
          <p>name: {{ currentBuilding.name }}</p>
          <p>cost: {{ currentBuilding.nextLevelCosts | json }}</p>
          <p>upgradingTime: {{ currentBuilding.upgradingTimeLeft }}</p>
          <p>level: {{ currentBuilding.level }}</p>
        </div>
        <div class="description">
          <p>mining: {{ currentBuilding.miningResource | json }}</p>
        </div>
      </div>

      <app-button>
        <button class="button" (click)="onBuild(currentBuilding.type)">
          buy
        </button>
      </app-button>
      <app-button>
        <button class="button">recycle</button>
      </app-button>
    </app-market-element-details>
  </app-structure-details>
  <app-structure
    market-grid
    *ngFor="let building of buildings$ | async"
    (selectEmitter)="selectDetails($event)"
    [building]="building"
  >
  </app-structure>
</app-market-container>
