<app-market-container>
  <app-structure
    market-grid
    *ngFor="let structureDetails of structures"
    (selectEmitter)="selectDetails($event)"
    [structureDetails]="structureDetails"
  >
  </app-structure>
  <app-structure-details details-view [structureDetails]="currentDetails">
    <app-market-element-details>
      <div class="info">
        <div class="details">
          <p>name: {{ currentDetails?.name }}</p>
          <p>
            cost: d: {{ currentDetails?.cost?.d }} | k:
            {{ currentDetails?.cost?.k }} | m: {{ currentDetails?.cost?.m }}
          </p>
          <p>canBuild: {{ currentDetails?.canBuild }}</p>
          <p>buildingTime: {{ currentDetails?.buildingTime }}</p>
        </div>
        <div class="description">
          <p>{{ itemsCount }}</p>
          <p>{{ itemsCount1 }}</p>
          <p>{{ structures$1 | async }}</p>

          <p>description: {{ currentDetails?.description }}</p>
        </div>
      </div>

      <app-button>
        <button class="button" (click)="buy()">buy</button>
      </app-button>
      <app-button>
        <button class="button">recycle</button>
      </app-button>
    </app-market-element-details>
  </app-structure-details>
</app-market-container>
