$shadow-color-blue-green: #009971;

.resources {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $shadow-color-blue-green;

  padding: 0 10px;
  height: 100%;
  width: 300px;
}
