<app-resources></app-resources>
<app-planet-container>
  <app-button side-navigation>
    <button
      class="button"
      [routerLinkActive]="'active'"
      [routerLink]="['overview']"
    >
      overview
    </button>
  </app-button>
  <app-button side-navigation>
    <button
      class="button"
      [routerLinkActive]="'active'"
      [routerLink]="['buildings']"
    >
      buildings
    </button>
  </app-button>

  <app-button side-navigation>
    <button
      class="button"
      [routerLinkActive]="'active'"
      [routerLink]="['research']"
    >
      research
    </button>
  </app-button>

  <app-button side-navigation>
    <button
      class="button"
      [routerLinkActive]="'active'"
      [routerLink]="['shipyard']"
    >
      shipyard
    </button>
  </app-button>

  <app-button side-navigation>
    <button
      class="button"
      [routerLinkActive]="'active'"
      [routerLink]="['defence']"
    >
      defence
    </button>
  </app-button>

  <app-button side-navigation>
    <button
      class="button"
      [routerLinkActive]="'active'"
      [routerLink]="['fleet']"
    >
      fleet
    </button>
  </app-button>

  <app-button side-navigation>
    <button
      class="button"
      [routerLinkActive]="'active'"
      [routerLink]="['galaxy']"
    >
      galaxy
    </button>
  </app-button>

  <app-button side-navigation>
    <button
      class="button"
      [routerLinkActive]="'active'"
      [routerLink]="['alliance']"
    >
      alliance
    </button>
  </app-button>

  <app-button side-navigation>
    <button
      class="button"
      [routerLinkActive]="'active'"
      [routerLink]="['staff']"
    >
      staff
    </button>
  </app-button>

  <app-button side-navigation>
    <button
      class="button"
      [routerLinkActive]="'active'"
      [routerLink]="['market']"
    >
      market
    </button>
  </app-button>

  <app-button side-navigation>
    <button
      class="button"
      [routerLinkActive]="'active'"
      [routerLink]="['shop']"
    >
      shop
    </button>
  </app-button>
  <app-button side-navigation>
    <button class="button" (click)="logout()" (onKeyDown)="logout()">
      logout
    </button>
  </app-button>
  <ng-container content>
    <div class="router" [@fadeInRouteNavigation]="prepareRoute(outlet)">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
  </ng-container>
</app-planet-container>
