<div class="container">
  <div class="border"></div>
  <div class="border"></div>
  <div class="border"></div>
  <div class="border"></div>
  <div class="border"></div>
  <div class="border"></div>
  <div class="border"></div>
  <div class="border"></div>
  <div class="border"></div>
  <div class="fleet-res-info">
    INFO ABOUT UR FLEET/RES ETC
    <div class="fleet-res-content">
      {{ planetData$ | async | json }}
    </div>
  </div>

  <div class="border"></div>
  <div class="content-of-clicked-position">
    CONTENT OF CLICKED POSITION
    <div class="clicked-position-content">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis ullam modi
      accusamus perspiciatis beatae distinctio harum id. Unde, rem debitis
      blanditiis accusantium error quod dolores natus, odit magni repellendus
      obcaecati.
    </div>
  </div>
  <div class="border"></div>
  <div class="actions1">
    ACTIONS
    <div class="action-content">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis ullam modi
      accusamus perspiciatis beatae distinctio harum id. Unde, rem debitis
      blanditiis accusantium error quod dolores natus, odit magni repellendus
      obcaecati.
    </div>
  </div>
  <div class="actions2">
    <div class="btn-group">
      <button class="button" mat-button mat-dialog-close>Attack</button>
      <button class="button" mat-button mat-dialog-close>Explore</button>

      <button class="button" mat-button mat-dialog-close>
        Turn off engines
      </button>
      <button class="button" mat-button mat-dialog-close>Hang</button>
      <button class="button" mat-button mat-dialog-close>Add note</button>
    </div>
  </div>
  <div class="border"></div>
  <div class="border"></div>
  <div class="border"></div>
  <div class="border"></div>
  <div class="border"></div>
  <div class="border"></div>
  <div class="border"></div>
  <div class="border"></div>
  <div class="border"></div>
</div>
