$shadow-color-blue-green: #009971;

:host {
  display: block;
}

::ng-deep {
  .popup-modal {
    .mat-dialog-container {
      background-color: rgba($color: $shadow-color-blue-green, $alpha: .8);
    }
  }
}
