.layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "content";
  height: 100vh;
  margin: 0;

  .menu {
    grid-area: menu;
    display: flex;
    justify-content: center;
    background-color: black;
  }

  .content {
    grid-area: content;
  }
}
