.container {
  display: flex;
  height: 800px;
  width: 1000px;
  flex-direction: row;

  .side-navigation {
    display: flex;
    flex-direction: column;
    width: 20%;


  }

  .content {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
}
