<div class="container">
  <div class="Favorites">
    <app-fleet-favorites></app-fleet-favorites>
  </div>
  <div class="FleetName">
    <app-fleet-name></app-fleet-name>
  </div>
  <div class="FleetPosition"></div>
  <div class="FleetIcon">
    <app-fleet-icon></app-fleet-icon>
  </div>
  <div class="FleetType">
    <app-fleet-type-icon></app-fleet-type-icon>
  </div>
  <div class="FleetFuel">
    <app-fleet-fuel-level></app-fleet-fuel-level>
  </div>
  <div class="AdmiralAvatar">
    <app-fleet-admiral-avatar></app-fleet-admiral-avatar>
  </div>
</div>
