$shadow-color-blue-green: #009971;

.dashboard {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr 100px;
  grid-template-areas:
    "menu"
    "content"
    "footer";
  height: calc(100vh - 59px);
  margin: 0;
  padding: 10px;

  background-image: url('./../../../../assets/images/planet-background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


  .menu {
    grid-area: menu;
    padding: 10px;

    .box {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba($color: #050505, $alpha: .5);
      border-radius: 10px;
      height: 50px;
      box-shadow: 0px 0px 5px 0px $shadow-color-blue-green;
      border-radius: 10px;
    }
  }

  .content {
    grid-area: content;
  }

  .footer {
    grid-area: footer;
  }
}
