<app-layout>
  <ng-container menu class="nav">
    <app-menu-button>
      <button
        class="button menu-button"
        [routerLinkActive]="'active'"
        [routerLink]="'cosmos'"
      >
        cosmos
      </button>
    </app-menu-button>
    <app-menu-button>
      <button
        class="button menu-button"
        [routerLinkActive]="'active'"
        [routerLink]="'todo'"
      >
        todo list
      </button>
    </app-menu-button>

    <app-menu-button>
      <button
        class="button menu-button"
        [routerLinkActive]="'active'"
        [routerLink]="'welcome'"
      >
        welcome
      </button>
    </app-menu-button>
    <app-resource></app-resource>
  </ng-container>
  <ng-container content>
    <div [@routeAnimations]="prepareRoute(outlet)">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
  </ng-container>
</app-layout>
