<div class="container">
  <div cdkDropList (cdkDropListDropped)="drop($event)">
    <mat-accordion multi>
      <mat-expansion-panel
        *ngFor="let panel of accordions"
        [ngClass]="{ class1: !visible }"
        cdkDragLockAxis="y"
        cdkDrag
        
      >
        <mat-expansion-panel-header *ngIf="(accordions$ | async)[panel.type]">
          <mat-panel-description>{{ panel.description }}</mat-panel-description>
        </mat-expansion-panel-header>
        <app-testcontainer *ngIf="visible"></app-testcontainer>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
