$planet-texture: linear-gradient(0deg, rgba(105, 43, 1, 0.9598214285714286) 0%, rgba(152, 109, 26, 1) 10%, rgba(113, 73, 10, 1) 20%, rgba(125, 61, 17, 1) 30%, rgba(152, 91, 26, 1) 40%, rgba(169, 124, 38, 1) 50%, rgba(110, 89, 25, 0.9878326330532213) 60%, rgba(92, 44, 0, 1) 70%, rgba(145, 111, 9, 1) 80%, rgba(79, 50, 10, 1) 90%, rgba(38, 46, 3, 1) 100%);

.planet-button {
  ::ng-deep.button {
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1.5px;
    padding: 10px;
    margin: 5px;
    color: white;
    border: none;
    height: 70px;
    width: 70px;
    border-radius: 50%;

    &:not(.active) {
      background: $planet-texture;
      box-shadow: inset 2px 2px 4px 4px rgba($color: #000, $alpha: .4);

      &:hover {
        cursor: pointer;
      }
    }

    &:after {
      display: block;
      content: '\00bb';
      font: icon;
      transform: rotate(90deg);
      opacity: 0;
      transition: 0.5s;
    }

    &:hover {
      // padding-right: 25px;
      background: $planet-texture;
      box-shadow: inset 2px 2px 4px 4px rgba($color: #fff, $alpha: .4);

      &:after {
        opacity: 1;
        right: 0;
      }
    }

    &:focus {
      background: $planet-texture;
    }

    &.active {
      background: $planet-texture;
      box-shadow: inset 2px 2px 4px 4px rgba($color: #fff, $alpha: .4);

      &:after {
        opacity: 1;
        right: 0;
      }
    }
  }
}
