<app-planet-container>
  <app-button side-navigation>
    <button
      class="button"
      [routerLinkActive]="'active'"
      [routerLink]="['overview']"
    >
      overview
    </button>
  </app-button>
  <app-button side-navigation>
    <button
      class="button"
      [routerLinkActive]="'active'"
      [routerLink]="['buildings']"
    >
      buildings
    </button>
      </app-button>
      <button side-navigation [routerLinkActive]="'active'" [routerLink]="['market']">
      market
    </button>
         <button side-navigation [routerLinkActive]="'active'" [routerLink]="['research']">
      research
    </button>
         <button side-navigation [routerLinkActive]="'active'" [routerLink]="['shipyard']">
      shipyard
    </button>
         <button side-navigation [routerLinkActive]="'active'" [routerLink]="['defence']">
      defence
    </button>
         <button side-navigation [routerLinkActive]="'active'" [routerLink]="['fleet']">
      fleet
    </button>
         <button side-navigation [routerLinkActive]="'active'" [routerLink]="['galaxy']">
      galaxy
    </button>
         <button side-navigation [routerLinkActive]="'active'" [routerLink]="['alliance']">
      alliance
    </button>
         <button side-navigation [routerLinkActive]="'active'" [routerLink]="['staff']">
      staff
    </button>
         <button side-navigation [routerLinkActive]="'active'" [routerLink]="['shop']">
      shop
    </button>

  <div content>
    <router-outlet></router-outlet>
  </div>
</app-planet-container>
