<app-game-map-box>
  <div class="over-map">
    <button (click)="navigateToNextSolarSystem('S-1')">solar system 1</button>
    <button (click)="navigateToNextSolarSystem('S-2')">solar system 2</button>
    <button (click)="navigateToNextSolarSystem('S-3')">solar system 3</button>
    <button (click)="navigateToNextSolarSystem('G-1')">galactic 1</button>
    <button (click)="navigateToNextSolarSystem('G-2')">galactic 2</button>
    <button (click)="navigateToNextSolarSystem('U-1')">universe 1</button>
  </div>

  <div #mapBox class="map-box">
    <canvas
      #mapCanvas
      [height]="2000"
      [width]="2000"
      (contextmenu)="onMousePressHold()"
      (mousedown)="onMousePressHold()"
      (mouseup)="onMousePressLeave()"
      (mouseout)="onMouseCanvasOut()"
      (mousewheel)="onMouseWheel($event)"
      (blur)="(0)"
      [ngClass]="onLeftCtrl && onHold ? 'on-hold' : ''"
    ></canvas>
  </div>
</app-game-map-box>
<app-context-menu
  *ngIf="isDisplayContextMenu"
  [ngStyle]="contextMenuStyle"
  [contextMenuItems]="contextMenuContent"
  (onContextMenuItemClick)="handleMenuItemClick($event)"
></app-context-menu>
