<app-side-menu></app-side-menu>
<app-game-map-box>
  <div #mapBox class="map-box">
    <canvas
      #mapCanvas
      [height]="2000"
      [width]="2000"
      (contextmenu)="onMousePressHold()"
      (mousedown)="onMousePressHold()"
      (mouseup)="onMousePressLeave()"
      (mouseout)="onMouseCanvasOut()"
      (mousewheel)="onMouseWheel($event)"
      (blur)="(0)"
      [ngClass]="onLeftCtrl && onHold ? 'on-hold' : ''"
    ></canvas>
  </div>
</app-game-map-box>
<app-context-menu
  *ngIf="isDisplayContextMenu"
  [ngStyle]="contextMenuStyle"
  [contextMenuItems]="contextMenuContent"
  (onContextMenuItemClick)="handleMenuItemClick($event)"
></app-context-menu>
<app-navigation-panel (navigateToPlanet)="navigationPanelAction($event)"></app-navigation-panel>
