<ng-container *ngIf="error$ | async as error">
  <div style="color: red">{{ error }}</div>
</ng-container>
<ng-container *ngIf="planet$ | async as planet">
  <div class="overview">
    <div class="description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus
      accusantium delectus reiciendis tenetur, maxime consequuntur porro iure
      hic minima vel doloribus officia facere ducimus ullam quod sint vero animi
      quia.
    </div>
    <div class="planet">
      <app-planet-3d [size]="200"></app-planet-3d>
      <app-resources class="sources"></app-resources>
    </div>
    <div class="line-1"></div>
    <div class="line-2"></div>
    <div class="line-3"></div>
    <div class="line-4"></div>

    <div class="details details-1">
      <p>Name: {{ planet.name }}</p>
      <p>
        Coordinates [{{ planet.coordinates?.galacticIndex }}:{{
          planet.coordinates?.solarSystemIndex
        }}:{{ planet.coordinates?.planetIndex }}]
      </p>
      <p></p>
    </div>
    <div class="details details-2">
      <p>Size</p>
      <p>{{ planet.size }}</p>
    </div>
    <div class="details details-3">
      <p>Resources potential</p>
      <p>Crystal: {{ planet.crystal }} | Deuterium: {{ planet.deuterium }}</p>
    </div>
    <div class="details details-4">
      <p>Temperature</p>
      <p>
        min: {{ planet.minTemperature }}C - max: {{ planet.maxTemperature }}C |
        avg: {{ planet.averageTemperature }}C
      </p>
    </div>
  </div>
</ng-container>
