:host {
  height: 100%;
  width: 100%;

  .structure-details {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .details {
    position: absolute;
    padding: 20px;
    color: white;
  }
}
