<app-dashboard>
  <ng-container menu>
    <app-planet-button>
      <button
        [routerLinkActive]="'active'"
        [routerLink]="['1', 1]"
        class="button"
      >
        planet
      </button>
    </app-planet-button>
    <app-planet-button>
      <button
        [routerLinkActive]="'active'"
        [routerLink]="['2', 2]"
        class="button"
      >
        planet2
      </button>
    </app-planet-button>
  </ng-container>
  <ng-container content>
    <div [@fadeInRouteNavigation]="prepareRoute(outlet)">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
  </ng-container>
  <ng-container footer></ng-container>
</app-dashboard>
