<div class="overview">
  <div class="description">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus
    accusantium delectus reiciendis tenetur, maxime consequuntur porro iure hic
    minima vel doloribus officia facere ducimus ullam quod sint vero animi quia.
  </div>
  <div class="planet">
    <app-planet-button>
      <button class="button">planet</button>
    </app-planet-button>

    <div class="sources">
      <p>Energy: 1000</p>
      <p>Iron: 1000</p>
    </div>
  </div>
  <div class="line-1"></div>
  <div class="line-2"></div>
  <div class="line-3"></div>
  <div class="line-4"></div>
  <div class="details details-1">Name: Nebula</div>
  <div class="details details-2">Type: frozen</div>
  <div class="details details-3">Population: 3200000</div>
  <div class="details details-4">Buildings: 1200000</div>
</div>
