@mixin default-button($icon) {
  ::ng-deep.button {
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1.5px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 120px;

    &:not(.active) {
      color: white;
      background: #090979;
      background: linear-gradient(180deg, rgb(54, 54, 54) 10%, rgb(42, 44, 48) 20%, rgb(5, 0, 36) 90%);
      border: 1px solid rgb(0, 0, 0);
      background-size: 400% 400%;
      background-position: 0% 10%;

      &:hover {
        cursor: pointer;
      }
    }

    &:after {
      font: icon;
      content: $icon;
      opacity: 0;
      transition: 0.5s;
    }

    &:hover {
      // background: linear-gradient(180deg, rgb(55, 55, 131) 20%, rgb(25, 32, 95) 30%, rgb(30, 33, 82) 90%);
      // background: linear-gradient(45deg, rgba(40, 40, 55, 1) 3%, rgba(131, 133, 152, 1) 82%, rgba(48, 52, 75, 1) 86%, rgba(48, 52, 75, 1) 95%);
      border: 1px solid rgb(53, 7, 189);
      animation: gradient 2s normal forwards ease;

      &:after {
        opacity: 1;
        right: 0;
      }
    }

    &:not(:hover) {
      transition: 1s;
    }

    &:focus {
      background: rgb(5, 0, 36);
    }

    &.active {
      color: greenyellow;
      background: linear-gradient(180deg, rgb(54, 54, 54) 10%, rgb(42, 44, 48) 20%, rgb(5, 0, 36) 90%);
      border: 1px solid rgb(0, 100, 25);

      &:after {
        opacity: 1;
        right: 0;
      }
    }
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 10%;
  }

  100% {
    background-position: 0% 40%;
  }
}
